{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango is...</h1>
    <div>
      a chameleon! <br />
    </div>
    <div>
      This tutorial has been put together by Hugh Carslaw <br />
    </div>
    <div>
      You have visited this page {{ visits }} times!
    </div>
    <div>
      <img src="{% static "images/rango2.jpg" %}" alt="Picture of rango" />
    </div>
    <div>
      <img src= "{{MEDIA_URL}}cat.jpg" alt ="Picture of a cat" />
    </div>
{% endblock %}

<!-- <html>

  <head>
    <title>About Rango</title>
  </head>

  <body>
    <h1>Rango is...</h1>
    <div>
      a chameleon! <br />
    </div>
    <div>
      This tutorial has bee put together by Hugh Carslaw <br />
    </div>
    <div>
      <a href="/rango/index/">Index</a><br />
      <img src="{% static "images/rango2.jpg" %}" alt="Picture of rango" />
    </div>
    <div>
      <img src= "{{MEDIA_URL}}cat.jpg" alt ="Picture of a cat" />
    </div>
  </body>

</html> -->
